.Container {
}

.Title {
	margin: 15px;
	opacity: 90%;
	margin-left: 23px;
}

.FilterContainer {
	display: flex;
	justify-content: space-between;
}
.Filter {
	margin: 5px 24px;
}

.FilterText {
	font-size: 20px;
	font-weight: 600;
	margin-right: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.Select {
	padding: 10px;
	margin-right: 20px;
}
.Option {
}
