.CategoryItem {
  flex: 1;
  margin: 3px;
  height: 70vh;
  position: relative;
}

.Image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title{
    color:black;
    margin-bottom: 300px;
}

.Button{
    border:none;
    padding: 10px;
    background-color: black;
    color:gray;
    cursor: pointer;
    font-weight: 600;
}