.menu_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    color: #0e0e0e;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 1px 2px 15px -7px #000000;
}

.menu_logo {
    line-height: 0;
    margin: 0 20px;
}

.menu_logo img {
    max-height: 100px;
    max-width: 200px;
    flex-shrink: 0;
}

.menu_container a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

.menu_container a:hover {
    color: #46CFBE;
}

.menu {
    position: relative;
}

.menu ul {
    list-style: none;
    display: inline;
    padding: 0;
}

.menu li {
    font-size: 22px;
    padding: 0 20px;
    display: inline;
}

.menu form {
    display: inline;
}

.menu_container input {
    display: none;
}