/* .Container {
flex: 1;
margin: 5px;
min-width: 280px;
height: 350px;
display: flex;
align-items: center;
justify-content: center;
background-color: #f5fbfd;
position: relative;
} */

.Container {
    flex: 1;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
    margin: 0px 30px;
}
  
.title {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
    color: #999999;

}
  
.price {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    color: #59a8a9;
    margin-top: 5px;
}
  
.desc {
    text-align: center;
    color: #555;
    margin: 10px 0px;
    font-size: 20px;
}
  
.Image{
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: flex;
    flex: 1;
}

