.Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px;

}
.Title {
    justify-content: center;
    font-size: 39px;
    text-align: center;
    font-weight: bold;
    margin-top: 33px;
    margin-bottom: 7px;
    color: #59a8a9;
}